﻿
@{
    ViewBag.Title = "Phân quyền";
}

<h2 class="page-title">@ViewBag.Title</h2>
<div class="row">
    <div class="col-lg-12">
        <table class="table table-bordered table-striped" id="RoleTable">
            <thead>
                <tr>
                    <th>Tên</th>
                    <th>Số lượng user</th>
                    <th>Phân quyền</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
@section scripts{
    <script>
        var RoleMana = new RolesManagement();
        RoleMana.initRolesTable();
    </script>
}