﻿
@{
    ViewBag.Title = "Phân quyền";
}

<h2 class="page-title">@ViewBag.Title - @ViewBag.RoleName <button class="btn btn-primary pull-right" id="btnUpdate">Cập nhật</button></h2>
<div class="row">
    <input type="hidden" id="RoleId" value="@ViewBag.RoleId" />
    <div class="col-lg-12">
        <table class="table table-bordered table-striped" id="RoleRightsTable">
            <thead>
                <tr>
                    <th>Module</th>
                    <th>Xem</th>
                    <th>Thêm</th>
                    <th>Sửa</th>
                    <th>Xóa</th>
                    <th>Tất cả</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
@section scripts{
    <script>
        $(function () {
            var RoleRightsMana = new RolesManagement();
            RoleRightsMana.initRoleRightsTable();
        });
    </script>
}