﻿<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />
</head>
<body>
    <%UserName%>!

    According to our records, you have requested that your password be reset. Click <%here%> to reset your password

    If you have any questions or trouble logging on please contact a site administrator.

    Thank you!
</body>
</html>
