﻿@using INVOICESMANA.Models
@model UserUpdateModel
@using INVOICESMANA.Helper;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.ModuleId = "26ad318c-7db8-477b-9839-22aaa416884e";
}
@{
    var addNew = ViewBag.AddNew;
}

<h2 class="page-title">@ViewBag.Title</h2>
<input type="hidden" id="ModuleId" value="@ViewBag.ModuleId" />
<input type="hidden" id="UserId" value="@ViewBag.UserId" />
<div class="row">
    <div class="form-horizontal" id="FormDetail">
        @Html.HiddenFor(m => m.User.UserId, new { @class = "form-control" })
        <div class="col-sm-6 col-md-6 col-lg-6">
            <div class="form-group">
                <label class="control-label col-sm-2" for="UserName">Tài khoản</label>
                <div class="col-sm-10">
                    <input class="form-control" id="UserName" required />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="Password">Mật khẩu</label>
                <div class="col-sm-10">
                    <input class="form-control" id="Password" type="password" required />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="ConfirmPassword">Nhập lại mật khẩu</label>
                <div class="col-sm-10">
                    <input class="form-control" id="ConfirmPassword" type="password" required/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="FullName">Họ và tên</label>
                <div class="col-sm-10">
                    <input class="form-control" id="FullName" required />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="Email">Email</label>
                <div class="col-sm-10">
                    <input class="form-control" id="Email" required />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="Role">Quyền</label>
                <div class="col-sm-10">
                    <select class="form-control" id="Role" multiple required></select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="Status">Trạng thái</label>
                <div class="col-sm-10">
                    <select class="form-control" id="Status" required>
                        <option value="true">Kích hoạt</option>
                        <option value="false">Ngừng hoạt động</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="col-sm-6 col-md-6 col-lg-6">
            <div class="form-group">
                <label class="control-label col-sm-2" for="CompanyId">Tên đơn vị</label>
                <div class="col-sm-10">
                    <select class="form-control" id="CompanyId" required></select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="CompanyAddress">Địa chỉ</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="CompanyAddress" name="CompanyAddress" disabled>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2" for="CompanyTaxIdentification">Mã số thuế</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="CompanyTaxIdentification" name="CompanyTaxIdentification" disabled />
                </div>
            </div>
        </div>

        @{if (new Permision(Guid.Parse(ViewBag.ModuleId)).IsUpdateAllowed)
            {

            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="button" id="Submit" class="btn btn-primary">@(addNew != "true" ? @"Cập nhật" : @"Thêm")</button>
                </div>
            </div>
            }
        }
    </div>
</div>
@section scripts{
    <script>
        var UserMana = new UserManagement();
        UserMana.InitDetail();
    </script>
}