﻿@using INVOICESMANA.Models
@model LoginRequest
@{
    ViewBag.Title = "Quên mật khẩu?";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}
<link rel="stylesheet" href="~/Content/Login.css" />
<div class="container">
    <div class="card card-container">
        <img id="profile-img" class="profile-img-card" src="@Url.Content("~/Content/images/avatar_2x.png")" />
        <p id="profile-name" class="profile-name-card"></p>
        @using (Html.BeginForm("ForgotPassword", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-signin", role = "form" }))
            {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            @Html.TextBoxFor(m => m.Username, new { @class = "form-control", @required = "true", @placeholder = "Tên đăng nhập" })
            @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger" })
            <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Gửi email</button>
        }
    </div>
</div>

