﻿@using INVOICESMANA.Models
@model ResetPasswordRequest
@{
    ViewBag.Title = "Đặt mật khẩu mới";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}
<link rel="stylesheet" href="~/Content/Login.css" />
<div class="container">
    <div class="card card-container">
        <img id="profile-img" class="profile-img-card" src="@Url.Content("~/Content/images/avatar_2x.png")" />
        <p id="profile-name" class="profile-name-card"></p>
        @using (Html.BeginForm("ChangePassword", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-signin", role = "form" }))
            {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            @Html.HiddenFor(m => m.Username, new { @class = "form-control", @required = "true" })
            @Html.ValidationMessageFor(m => m.Username, "", new { @class = "text-danger" })

            @Html.PasswordFor(m => m.Password, new { @class = "form-control", @required = "true", @placeholder = "Mật khẩu" })
            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger", @required = "true"})

            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @required = "true", @placeholder = "Nhập lại mật khẩu" })
            @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger", @required = "true" })

            <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Đặt lại mật khẩu</button>
        }
    </div>
</div>
