﻿@using INVOICESMANA.Helper
@{
    ViewBag.Title = "Quản lý tài khoản";
    ViewBag.ModuleId = "26ad318c-7db8-477b-9839-22aaa416884e";
}

<h2 class="page-title">@ViewBag.Title
    @if (new Permision(Guid.Parse(ViewBag.ModuleId)).IsAddAllowed)
    {
        <a href="@(Url.Action("AddUser", "Account"))" class="btn btn-primary pull-right">Thêm người dùng</a>
    }
</h2>
<input type="hidden" id="CompanyId" value="@ViewBag.CompanyId" />
<div class="row">
    <input type="hidden" id="ModuleId" value="@ViewBag.ModuleId" />
    <div class="col-lg-12">
        <table class="table table-bordered table-striped" id="UserTable">
            <thead>
                <tr>
                    <th>Tên tài khoản</th>
                    <th>Tên</th>
                    <th>Đơn vị</th>
                    <th>Quyền</th>
                    <th>Ngày tạo</th>
                    <th>Trạng thái</th>
                    <th>Thao tác</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
@section scripts{
    <script>
        $(function () {
            var UserMana = new UserManagement();
            UserMana.init();
        });
    </script>
}

