﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    /*max-width: 280px;*/
}

.com-logo {
    height: 100px;
    width: 100%;
}

    .com-logo img {
        height: inherit;
        border: 1px solid lightgray;
    }

.dataTable tr.inactive td {
    /*text-decoration-line: underline line-through;*/
    text-decoration-line: line-through;
}

.dataTables_wrapper {
    margin-top: 15px;
}

.page-title {
    padding-bottom: 5px;
    border-bottom: 2px solid;
    border-bottom-color: #bbb;
}

.align-right {
    text-align: right;
}

.text-bold {
    font-weight: bold;
}

.align-center {
    text-align: center;
}

.text-decoration-line-none {
    text-decoration-line: none !important;
}

.dataTable thead th {
    text-align: center;
}

#RoleRightsTable td input[type="checkbox"] {
    width: 21px;
    height: 21px;
}

.form-control.error {
    border-color: #ff0000;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(233, 102, 102, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(233, 102, 102, 0.6);
}

#InvoiceContainer {
    border: 1px solid lightgray;
    padding: 80px 20px;
    box-shadow: 7px 3px 31px #ccc;
}

#InvoiceDetail tbody tr td:nth-child(4),
#InvoiceDetail tbody tr td:nth-child(5),
#InvoiceDetail tbody tr td:nth-child(6),
#InvoiceDetail tbody tr td:nth-child(7),
#InvoiceDetail tbody tr td:nth-child(8),
#InvoiceDetail tbody tr td:nth-child(9),
#InvoiceDetail tbody tr td:nth-child(10),
#InvoiceDetail tbody tr td:nth-child(11) {
    text-align: right;
}

@media (min-width: 992px) {
    .invoice-detail-container .form-horizontal .control-label {
        padding-left: 0;
        padding-right: 0;
    }

    .invoice-detail-container .mgtop-137 {
        margin-top: 137px;
    }
}

#InvoiceContainer .group-info-title {
    border-bottom: 2px solid #333333;
    display: inline-block;
    padding-right: 31px;
    padding-bottom: 1px;
}


.ui-autocomplete-loading {
    background: white url("../Content/images/ui-anim_basic_16x16.gif") right center no-repeat;
  }

.bootstrap-datetimepicker-widget .datepicker-days .table-condensed .day.weekend{
    color: red;
}


.loader{
    position: fixed;
    left: 0;
    top: 0;
    width: calc(100vw);
    height: calc(100vh);
    z-index: 9999;
    background-color: rgba(12, 12, 12, 0.72);
}

.loader .loader-icon {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  top: calc(50% - 60px);
  left: calc(50% - 60px);
  position: absolute;
  -webkit-animation: spin 1s linear infinite; /* Safari */
  animation: spin 1s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


#InvoiceDetail tbody tr.selected{
    background-color: #d0d0d0 !important;
}

#InvoiceDetail tbody tr.selected td{
    background-color: transparent;
}

#InvoiceDetail tbody tr.selected:after{
    content: 'Xóa';
    display: block;
    background-color: #ff5050;
    width: 30px;
    height: inherit;
    position: absolute;
    padding: 14px 3px;
    color: white;
    cursor: pointer;
}

#InvoiceDetail tbody tr.selected:after:hover{
    background-color: #ff3b3b;
}

#InvoiceDetail tbody tr td:last-child{
    cursor: pointer;
}

.dropdown-menu li a > .fa{
    margin-right: 5px;
}