﻿@using INVOICESMANA.Helper
@{
    ViewBag.ModuleId = "96289b7d-d686-4e2e-9986-7d20e930d394";


}

<h2 class="page-title">
    @ViewBag.Title
    @Html.ActionLink("Quay lại", "Index", "ViettelInvoice", null, new { @class = "btn btn-default pull-right" }) &nbsp;
    <button class="btn btn-primary pull-right" id="ExportInvoice" style="display:none; margin-right: 10px;">Phát hành</button> &nbsp;
    <button class="btn btn-primary pull-right" id="UpdateIdentificationInvoice" style="display:none; margin-right: 10px;">Điều chỉnh thông tin</button> &nbsp;
    <button class="btn btn-primary pull-right" id="UpdateInvoice" style="display:none; margin-right: 10px;">Điều chỉnh tiền</button> &nbsp;
    <button class="btn btn-primary pull-right" id="ChangeInvoice" style="display:none; margin-right: 10px;">Thay thế</button> &nbsp;
    <button class="btn btn-danger pull-right" id="DeleteInvoice" style="display:none; margin-right: 10px;">Hủy</button>
</h2>
<input type="hidden" id="ModuleId" value="@ViewBag.ModuleId" />
<input type="hidden" id="EditMode" value="@ViewBag.EditMode" />
<input type="hidden" id="InvoiceId" value="@ViewBag.InvoiceId" />
<input type="hidden" id="CompanyId" value="@Session["CompanyId"]" />
<div class="row invoice-detail-container">
    <div class="form-horizontal" id="InvoiceContainer">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-md-4">
                    <h4 class="group-info-title">Thông tin hóa đơn</h4>
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="InvoiceType">Mẫu số</label>
                        <div class="col-sm-8">
                            <select class="form-control" id="InvoiceType" required></select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-4" for="InvoiceSeries">Kí hiệu</label>
                        <div class="col-sm-8">
                            <select class="form-control" id="InvoiceSeries" required></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="ContractDate">Ngày HĐ</label>
                        <div class="col-sm-8">
                            <div class="input-group" id="ContractDate">
                                <input class="form-control" value="" required />
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar">
                                    </span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="row mgtop-137">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label col-sm-4" for="ContractNumber">Số HĐ</label>
                                <div class="col-sm-8">
                                    <input class="form-control" id="ContractNumber" value="" required />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label col-sm-4" for="OrderNumber">Số đơn hàng</label>
                                <div class="col-sm-8">
                                    <input class="form-control" id="OrderNumber" value="" required />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <h4 class="group-info-title">Thông tin thanh toán</h4>
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="PaymentId">Hình thức thanh toán</label>
                        <div class="col-sm-8">
                            <select class="form-control" id="PaymentId" name="PaymentId" required></select>
                        </div>
                    </div>

                    <div id="payment" >
                        <div class="form-group">
                            <label class="control-label col-sm-4" for="Account">Tài khoản</label>
                            <div class="col-sm-8">
                                <input class="form-control" id="Account" value="" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-sm-4" for="Bank">Ngân hàng</label>
                            <div class="col-sm-8">
                                <input class="form-control" id="Bank" value="" />
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>

        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-4">
                    <h4 class="group-info-title">Thông tin người mua</h4>
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="CustomerCode">Mã khách hàng</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="CustomerCode" value="" required />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-4" for="CustomerFullName">Tên người mua</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="CustomerFullName" value="" required />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-4" for="CustomerTaxIdentification">Mã số thuế</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="CustomerTaxIdentification" value="" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-4" for="CustomerAddress">Địa chỉ</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="CustomerAddress" value="" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-4" for="CustomerAccountNumber">Tài khoản</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="CustomerAccountNumber" value="" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-4" for="CustomerBank">Ngân hàng</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="CustomerBank" value="" />
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <h4>&nbsp;</h4>
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="CustomerCompanyName">Tên đơn vị</label>
                        <div class="col-sm-8">
                            <input class="form-control" id="CustomerCompanyName" value="" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-12">
            <div class="row">
                <h4 class="group-info-title">Chi tiết hóa đơn</h4>
                <table class="table table-bordered table-striped" id="InvoiceDetail">
                    <thead>
                        <tr>
                            <th>Mã hàng</th>
                            <th>Tên hàng</th>
                            <th>Đơn vị</th>
                            <th>Số lượng</th>
                            <th>Đơn giá</th>
                            <th>Tiền</th>
                            <th>%CK</th>
                            <th>Tiền CK</th>
                            <th>Thuế</th>
                            <th>Tiền thuế</th>
                            <th>Thành tiền</th>
                            <th style="display: none">Id</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <td colspan="6" id="TotalAmount" class="align-right text-bold">&nbsp;</td>
                            <td colspan="2" id="DiscountAmount" class="align-right text-bold">&nbsp;</td>
                            <td colspan="2" id="VatAmount" class="align-right text-bold">&nbsp;</td>
                            <td id="Total" class="align-right text-bold">&nbsp;</td>
                        </tr>
                        <tr>
                            <td colspan="11">
                                <button class="btn btn-primary" id="AddDetail"><span class="glyphicon glyphicon-plus-sign"></span>&nbsp; Thêm sản phẩm</button>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        var InvoicesMana = new InvoiceViettelManagement();
        InvoicesMana.initDetail();
    </script>
}