﻿@using INVOICESMANA.Helper
@using System.Globalization
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <input type="hidden" value="@Identity.IsSuperAdmin.ToString().ToLower()" id="IsSuperAdmin" />
    <input type="hidden" id="sysFormat" value="@CultureInfo.CurrentCulture.DateTimeFormat.ShortDatePattern" />
    <input type="hidden" id="sysUIFormat" value="@CultureInfo.CurrentUICulture.DateTimeFormat.ShortDatePattern" />
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="~/">ezInvoices</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav">
                    @if (new Permision(Guid.Parse("26ad318c-7db8-477b-9839-22aaa416884e")).IsViewAllowed)
                    {
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                Quản lý nhân viên
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="@(Url.Action("Users", "Account"))"><i class="fa fa-users" aria-hidden="true"></i>Quản lý tài khoản</a></li>
                                <li><a href="@(Url.Action("Index", "Role"))"><i class="fa fa-address-card-o" aria-hidden="true"></i>Phân quyền</a></li>
                            </ul>
                        </li>
                    }
                    @if (new Permision(Guid.Parse("9cbfdfc3-dab3-46dc-88d0-eac5d7e31fdf")).IsViewAllowed)
                    {
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                Quản lý đơn vị
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="@(Url.Action("Index", "Company"))"><i class="fa fa-building-o" aria-hidden="true"></i>Quản lý đơn vị</a></li>
                            </ul>
                        </li>
                    }
                    @if (new Permision(Guid.Parse("96289b7d-d686-4e2e-9986-7d20e930d394")).IsViewAllowed)
                    {
                        if (Session["Companyid"] != null)
                        {
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                    Quản lý hóa đơn
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    @if (Session["Type"] == "1")
                                    {
                                        <li><a href="@(Url.Action("Index", "Invoice"))"><i class="fa fa-file-o" aria-hidden="true"></i>Danh sách hóa đơn</a></li>

                                    }
                                    else
                                    {
                                        <li><a href="@(Url.Action("Index", "ViettelInvoice"))"><i class="fa fa-file-o" aria-hidden="true"></i>Danh sách hóa đơn</a></li>
                                    }
                                </ul>
                            </li>
                        }

                    }
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @if (Session["CompanyName"] != null)
                    {
                        <li class="dropdown">
                            <a class="dropdown-toggle">Đơn vị: @Session["CompanyName"].ToString()</a>
                        </li>
                    }
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Chào&nbsp;@Identity.UserName &nbsp;<span class="glyphicon glyphicon-user"></span></a>
                        <ul class="dropdown-menu">
                            @{
                                if (!Identity.IsSuperAdmin)
                                {
                                    <li><a href="@Url.Action("MyAccount", "Account", new { UserId = Identity.UserId })">Tài khoản của tôi</a></li>
                                }
                            }
                            <li><a href="@(Url.Action("LogOff", "Account"))"><i class="fa fa-sign-out" aria-hidden="true"></i>Đăng xuất</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>

    <!--Loader-->
    <div class="loader" style="display: none;">
        <div class="loader-icon">

        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")

    <script type="text/javascript">
        $(document).ready(function () {
            window.UrlConfig = {};
            window.UrlConfig.AppUrl = '@Url.Content("/")';
        })
    </script>

    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/appscript")
    @RenderSection("scripts", required: false)
</body>
</html>