﻿@using INVOICESMANA.Helper;
@{
    ViewBag.Title = "Danh sách hóa đơn";
    ViewBag.ModuleId = "96289b7d-d686-4e2e-9986-7d20e930d394";
}

<h2 class="page-title">
    @ViewBag.Title
    @if (new Permision(Guid.Parse(ViewBag.ModuleId)).IsAddAllowed)
    {
        <a class="btn btn-primary pull-right" href="@Url.Action("AddNew", "Invoice")">Thêm mới</a>
    }
</h2>
<input type="hidden" id="ModuleId" value="@ViewBag.ModuleId" />
<input type="hidden" id="CompanyId" value="@Session["CompanyId"]" />
<input type="hidden" id="UserId" value="@Identity.UserName" />

<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-striped" id="ListInvoiceTable">
            <thead>
                <tr>
                    <th>Số HĐ</th>
                    <th>Số đơn hàng</th>
                    <th>Ngày HD</th>
                    <th>Tên người mua</th>
                    <th>Tên đơn vị</th>
                    <th>Địa chỉ</th>
                    <th>Email</th>
                    <th>Tổng tiền</th>
                    <th>PTTT</th>
                    <th>Thao tác</th>
                </tr>
            </thead>
        </table>
    </div>
</div>

@section scripts{
    <script>
        var InvoicesMana = new InvoicesManagement();
        InvoicesMana.initList();
    </script>
}