﻿@using INVOICESMANA.DATA
@using INVOICESMANA.Helper;
@model Company
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.ModuleId = "26ad318c-7db8-477b-9839-22aaa416884e";
    var addNew = ViewBag.AddNew;
    var selectList = new SelectList(new List<SelectListItem>()
{
new SelectListItem {Text = "Kích hoạt", Value = "True"},
new SelectListItem {Text = "Ngừng hoạt động", Value = "False"},
}, "Value", "Text");

    var invoiceList = new SelectList(new List<SelectListItem>()
{
new SelectListItem {Text = "mInvoice", Value = "1"},
new SelectListItem {Text = "sInvoice", Value ="2" },
}, "Value", "Text");

    var index = 0;
}

<h2 class="page-title">
    @ViewBag.Title
    @Html.ActionLink("Quay lại", "Index", "Company", null, new { @class = "btn btn-default pull-right" })
</h2>
<div class="row">
    <input type="hidden" id="ModuleId" value="@ViewBag.ModuleId" />
    <input type="hidden" id="createdDate" value="@Model.CreatedDate" />
    <input type="hidden" id="expiryDate" value="@Model.ExpiryDate" />
    <div class="form-horizontal" id="CompanyDetailForm">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-6">
                @Html.HiddenFor(m => m.CompanyId, new { @class = "form-control", @required = "true" })
                <div class="form-group">
                    <label class="control-label col-sm-2" for="Name">Tên đơn vị</label>
                    <div class="col-sm-10">
                        <input class="form-control" id="Name" value="@Model.Name" required />
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="Name">Mã đơn vị</label>
                    <div class="col-sm-10">
                        <input class="form-control" id="CompanyCode" value="@Model.CompanyCode" required />
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="Address">Địa chỉ</label>
                    <div class="col-sm-10">
                        <input class="form-control" id="Address" value="@Model.Address" required />
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="Email">Email</label>
                    <div class="col-sm-10">
                        <input class="form-control" id="Email" value="@Model.Email" required />
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="Phone">Phone</label>
                    <div class="col-sm-10">
                        <input class="form-control" id="Phone" value="@Model.Phone" required />
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="TaxIdentification">Mã số thuế</label>
                    <div class="col-sm-10">
                        <input class="form-control" id="TaxIdentification" value="@Model.TaxIdentification" required />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-12">Thông tin api</div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="Account">Nhà cung cấp</label>
                    <div class="col-sm-10">
                        @Html.DropDownListFor(m => m.InvoiceType, invoiceList, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="Account">Account</label>
                    <div class="col-sm-10">
                        <input class="form-control" id="Account" value="@Model.Account" required />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-sm-2" for="Password">Password</label>
                    <div class="col-sm-10">
                        <input class="form-control" id="Password" type="password" value="@Model.Password" required />
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6 col-lg-6">
                <div class="form-group">
                    <label class="control-label col-sm-2" for="Logo">Logo</label>
                    <div class="col-sm-10">
                        <div class="com-logo" title="Nhấp chuột vào đây để thay đổi logo">
                            <img src="@Model.Logo" id="Logo" />
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="CreatedDate">Ngày tạo</label>
                    <div class="col-sm-10">
                        <div class="input-group" id="CreatedDatePicker">
                            <input class="form-control" id="CreatedDate" value="@Model.CreatedDate" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar">
                                </span>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="ExpiryDate">Ngày hết hạn</label>
                    <div class="col-sm-10">
                        <div class="input-group" id="ExpiryDatePicker">
                            <input class="form-control" id="ExpiryDate" value="@Model.ExpiryDate" required />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar">
                                </span>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="Status">Trạng thái</label>
                    <div class="col-sm-10">
                        @Html.DropDownListFor(m => m.Status, selectList, new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-sm-2" for="PMS">PMS</label>
                    <div class="col-sm-10">
                        <input class="form-control" id="PMS" value="@Model.PMS" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div id="invoiceTypeDiv" class="col-sm-12 col-md-12 col-lg-12" style="@(Model.InvoiceType.HasValue ? (Model.InvoiceType != 2 ? "display:none;" : "") : "")">
                <table id="invoiceTypeTable" class="table table-bordered table-responsive">
                    <thead>
                        <tr>
                            <th width="40%">Kí hiệu</th>
                            <th width="40%">Mẫu số</th>
                            <th width="10%"><button type="button" id="addRow"><i class='fa fa-plus'></i></button></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.InvoiceTypes.ToList())
                        {
                            if (index <= Model.InvoiceTypes.Count)
                            {
                                if (!string.IsNullOrEmpty(item.InvoiceSeries) && !string.IsNullOrEmpty(item.InvoiceTypes))
                                {
                                    <tr>
                                        <td><input type="text" class="invoiceSeries form-control" value="@item.InvoiceSeries" /></td>
                                        <td><input type="text" class="invoiceTypes form-control" value="@item.InvoiceTypes" /></td>
                                        <td><button type="button" class="remoteRow"><i class='fa fa-remove'></i></button></td>
                                    </tr>
                                }
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>

<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="col-sm-offset-2 col-sm-10">
            @if (new Permision(Guid.Parse(ViewBag.ModuleId)).IsAddAllowed && addNew == "true")
            {
                <button type="button" id="Submit" class="btn btn-primary">@(addNew != "true" ? @"Cập nhật" : @"Thêm")</button>
            }
            @if (addNew != "true" && new Permision(Guid.Parse(ViewBag.ModuleId)).IsUpdateAllowed)
            {
                <button type="button" id="Submit" class="btn btn-primary">@(addNew != "true" ? @"Cập nhật" : @"Thêm")</button>
            }
        </div>
    </div>
</div>
<input type="file" style="display: none;" accept="image/*" id="FileInput" />
@section scripts{
    <script>
        $(function () {
            var CompaniesMana = new CompaniesManagement();
            CompaniesMana.initDetail(@addNew);
        });
    </script>
}
