﻿@using INVOICESMANA.Helper;
@{
    ViewBag.Title = "Quản lý đơn vị";
    ViewBag.ModuleId = "26ad318c-7db8-477b-9839-22aaa416884e";
}

<h2 class="page-title">
    @ViewBag.Title
@if (new Permision(Guid.Parse(ViewBag.ModuleId)).IsAddAllowed)
{
    <a class="btn btn-primary pull-right" href="@Url.Action("AddCompany", "Company")">Thêm mới</a>
}
</h2>
<input type="hidden" id="CompanyId" value="@Session["CompanyId"]" />
<input type="hidden" id="ModuleId" value="@ViewBag.ModuleId" />
<div class="row">
    <div class="col-lg-12">
        <table class="table table-bordered table-striped" id="CompaniesTable">
            <thead>
                <tr>
                    <th>Mã đơn vị</th>
                    <th>Tên đơn vị</th>
                    <th>Địa chỉ</th>
                    <th>Ngày tạo</th>
                    <th>PMS</th>
                    <th>Trạng thái</th>
                    <th>Thao tác</th>
                </tr>
            </thead>
        </table>
    </div>
</div>
@section scripts{
    <script>
        $(function () {
            var CompaniesMana = new CompaniesManagement();
            CompaniesMana.initCompaniesTable();
        });
    </script>
}