﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Không tìm thấy nội dung yêu cầu</title>
    <style>
        body{
            margin: 0;
            padding: 0;
        }

        .error-container{
            width: calc(100vw);
            height: calc(100vh);
            background-color: #ccc;
        }

        .error-container img{
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    </style>
</head>
<body>
    <div class="error-container">
        <img src="@Url.Content("~/Content/images/404.png")" />
    </div>
</body>
</html>
